
/*
    Styling for privacy notice watermark in privacy-notice.html
*/
#privacy-notice {
    background-color: rgba(84, 73, 75, 0.9);
    position: fixed;
    bottom: 10%;
    right: 0%;
    width: 500px;
    min-height: 10rem;
    box-shadow: -8px -8px 8px 0 rgba(0, 0, 0, 0.3), 2px -6px 20px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card {
    background-color: $light;
  }

.card-text:last-child {
    font-weight: 300;
  }
  
/*

    Styling for desktop:
*/

.td-max-width-on-larger-screens {
    @include media-breakpoint-up(lg) {
        max-width: 100%;
    }
}

/*
    Styling for mobile:
*/
@media only screen and (max-width: $mobile-width) {
    #privacy-notice {
        width: 100vw;
    }
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feature-box {
    padding-left: 10%;
    padding-right: 10%;
}

.alt-link {
    color: $alt-link;
}

.very-opaque-image {
    opacity: 0.8;
}

.slightly-opaque-image {
    opacity: 0.4;
}

/* Styles for RSS link */
.td-rss-button {
   font-size: 0;
   background-color: $primary;

   &:hover { 
      color: #fff;
      background-color: darken($primary, 10%);
   }

   i { font-size: 20px; }


}