+++
title = "CDEvents"
linkTitle = "cdevents.dev Homepage"

+++

{{< blocks/cover title="CDEvents" subtitle="A common specification for Continuous Delivery events" image_anchor="top" color="primary" height="min">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="docs">
		Get Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/cdevents">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
<div class="mx-auto mt-5">
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% pageinfo color="primary" %}}
Join us this May in Valencia for the inaugural [#CDEventsCon](https://events.linuxfoundation.org/cdeventscon/)!
{{% /pageinfo %}}


{{< blocks/lead title="About CDEvents" color="dark">}}

CDEvents is a common specification for Continuous Delivery events, enabling interoperability in the complete software production ecosystem.
<br/>
It's an incubated project at the <a href="https://cd.foundation/projects">Continuous Delivery Foundation</a> (CDF).
{{< /blocks/lead >}}

{{% blocks/section color="secondary" %}}

{{% blocks/feature icon="fa-users" title="Community" %}}
The project is currently developed and maintained by the <a href="https://github.com/cdfoundation/sig-events">Events Special Interest Group</a> at the CDF. We welcome <a href="community">contributions</a>!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-cogs" title="Demos" %}}
Our first <a href="https://github.com/cdfoundation/sig-events/tree/main/poc">proof of concept</a> includes CDEvents in <a href="https://tekton.dev">Tekton</a> and <a href="https://keptn.sh">Keptn</a>. We are building the next PoC.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-spinner" title="In Progress" %}}
Our specification work is driven by interoperability use cases. We are working towards v0.1.
{{% /blocks/feature %}}

{{% /blocks/section %}}

{{< blocks/section color="white">}}
<figure class="centered-image">
  <img src="/images/cdevents-logo.svg" alt="CDEvents Logo" width="100%"/>
</figure>
{{< /blocks/section >}}
