name: Trigger Netlify Build
on:
  workflow_dispatch: {}
jobs:
  sync:
    name: 'Sync content and deploy'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true
      - name: Setup Git User to GitHub Action bot
        uses: fregante/setup-git-user@v1

      - name: Update Content Submodule
        id: update
        run: |
          # Update the submodule
          git submodule update --remote content/en/docs
          # Stage changes and check status
          GIT_STATUS=$(git status -s)
          if [ -n "$GIT_STATUS" ]; then PUSH_AND_SYNC='true' ; fi
          echo ::set-output name=PUSH_AND_SYNC::${PUSH_AND_SYNC}

      - name: Create a commit and push if needed
        if: ${{ steps.update.outputs.PUSH_AND_SYNC }}
        run: |
          # Create a commit and push it
          git add -u
          git commit -m "Update content/en/docs"
          git push

      - name: Trigger a Netlify Build
        if: ${{ steps.update.outputs.PUSH_AND_SYNC }}
        env:
          NETLIFY_BUILD_HOOK: ${{ secrets.NETLIFY_BUILD_HOOK }}
        run: |
          curl -X POST -d {} $NETLIFY_BUILD_HOOK
